{% extends "_layouts/cp" %}

{% do view.registerAssetBundle('GlueAgency\\schedule\\web\\assets\\schedules\\SchedulesAsset') %}
{% set title = "Schedules"|t("schedule") %}
{% set selectedSubnavItem = "schedules" %}
{% set groups = craft.schedule.schedules.getAllGroups() %}
{% set groupId = groupId is defined ? groupId : null %}
{% set schedules = craft.schedule.schedules.getSchedulesByGroupId(groupId) %}

{% import "_includes/forms" as forms %}

{% block actionButton %}
    {% set newScheduleUrl = url('schedule/new', (groupId  ? { groupId: groupId } : null)) %}
    <a href="{{ newScheduleUrl }}" class="submit btn add icon">{{ "New schedule"|t('schedule') }}</a>
{% endblock %}

{% block sidebar %}
    <nav>
        <ul id="groups">
            <li>
                <a href="{{ url('schedule') }}"{% if not groupId %} class="sel"{% endif %}>{{ 'All'|t('schedule') }}</a>
            </li>
            <li>
                <a href="{{ url('schedule/groups/ungrouped') }}"{% if groupId == 'ungrouped' %} class="sel"{% endif %}>{{ 'Ungrouped'|t('schedule') }}</a>
            </li>
            {% for group in groups %}
                <li>
                    <a href="{{ url('schedule/groups/'~group.id) }}"{% if groupId is defined and group.id == groupId %} class="sel"{% endif %}
                       data-id="{{ group.id }}">{{ group.name|t('site') }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <div class="buttons">
        <div id="newgroupbtn" class="btn add icon">{{ "New group"|t('app') }}</div>

        {% if groupId %}
            <div id="groupsettingsbtn" class="btn settings icon menubtn" title="{{ 'Settings'|t('app') }}"></div>
            <div class="menu">
                <ul>
                    <li><a data-action="rename" role="button">{{ "Rename selected group"|t('app') }}</a></li>
                    <li><a data-action="delete" role="button">{{ "Delete selected group"|t('app') }}</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {% if schedules|length %}
        {% set sortable  = (schedules|length > 1 and groupId) %}
        <div class="tableview tablepane">
            <table id="schedules" class="data fullwidth collapsible">
                <thead>
                    <th class="checkbox-cell selectallcontainer">
                        <div class="checkbox checbox-select-all" role="checkbox" tabindex="0" aria-checked="false" aria-label="Select all"></div>
                    </th>
                    <th scope="col">{{ "Name"|t('app') }}</th>
                    {% if not groupId %}
                        <th scope="col">{{ "Group"|t('app') }}</th>
                    {% endif %}
                    <th scope="col">{{ "Type"|t('app') }}</th>
                    <th scope="col">{{ "Timers"|t('schedule') }}</th>
                    <th scope="col">{{ "Last Running Date"|t('schedule') }}</th>
                    <th scope="col">{{ 'Enabled'|t('schedule') }}</th>
                    <th scope="col">{{ "Logs"|t('schedule') }}</th>
                    <th></th>
                    {% if sortable %}<td class="thin"></td>{% endif %}
                    <td class="thin"></td>
                </thead>
                <tbody>
                {% for schedule in schedules %}
                    <tr data-id="{{ schedule.id }}" data-name="{{ schedule.name|t('site') }}">
                        <td class="checkbox-cell">
                            {{ tag('div', {
                                class: 'checkbox',
                                title: 'Select'|t('app'),
                                role: 'checkbox',
                                aria: {
                                    label: 'Select'|t('app'),
                                    checked: 'false',
                                },
                            }) }}
                        </td>
                        <th scope="row" data-title="{{ 'Name'|t('app') }}"><a
                                    href="{{ url('schedule/' ~ schedule.id) }}">{{ schedule.name }}</a></th>
                        {% if not groupId %}
                            <th data-title="{{ 'Group'|t('app') }}">
                                {% set groupUrl = url('schedule/groups/ungrouped') %}
                                {% if schedule.group %}
                                    {% set groupUrl = url('schedule/groups/'~schedule.group.id) %}
                                {% endif %}
                                <a href="{{ groupUrl }}">{{ schedule.group ? schedule.group.name : 'Ungrouped'|t('schedule') }}</a>
                            </th>
                        {% endif %}
                        <td data-title="{{ 'Type'|t('app') }}">
                            {% if schedule is missing %}
                                <span class="error">{{ schedule.expectedType }}</span>
                            {% else %}
                                {{ schedule.displayName() }}
                            {% endif %}
                        </td>
                        <td data-title="{{ 'Timers'|t('schedule') }}">
                            {% if schedule.timers|length == 0 %}
                                <a href="{{ url('schedule/' ~ schedule.id ~ '/timers') }}">{{ "Edit Timers"|t('schedule') }}</a>
                            {% else %}
                                <a href="{{ url('schedule/' ~ schedule.id ~ '/timers') }}">{{ "Edit Timers ({count})"|t('schedule', { count: schedule.timers|length }) }}</a>
                                <a class="menubtn" title="{{ 'Timers'|t('schedule') }}"></a>
                                <div class="menu">
                                    <ul>
                                        {% for timer in schedule.timers %}
                                            <li>
                                                <a href="{{ url('schedule/' ~ schedule.id ~ '/timers/' ~ timer.id) }}">{{ timer ~ ' ' ~ timer.cronDescription }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                        <td data-title="{{ 'Last Running Date'|t('schedule') }}">
                            {% if schedule.lastFinishedDate is not empty %}
                                {% if schedule.lastStatus %}
                                    <span class="status green"></span>
                                {% else %}
                                    <span class="status red"></span>
                                {% endif %}
                                {{ schedule.lastFinishedDate|datetime('short') }}
                            {% endif %}
                        </td>
                        <td>
                             {{ forms.lightswitchField({
                                 name: 'enabled',
                                 small: true,
                                 on: schedule.enabled,
                             }) }}
                        </td>
                        <td><a class="go" href="{{ url('schedule/' ~ schedule.id ~ '/logs') }}"></a></td>
                        <td class="thin">
                            <a href="{{ actionUrl('schedule/schedules/duplicate-schedule', { 'schedule_id': schedule.id }) }}" title="{{ 'Duplicate'|t('app') }}" role="button">
                                <svg width="12" height="12" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="currentColor" d="M464 0H144c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h320c26.51 0 48-21.49 48-48v-48h48c26.51 0 48-21.49 48-48V48c0-26.51-21.49-48-48-48zM362 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h42v224c0 26.51 21.49 48 48 48h224v42a6 6 0 0 1-6 6zm96-96H150a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h308a6 6 0 0 1 6 6v308a6 6 0 0 1-6 6z"/>
                                </svg>
                            </a>
                        </td>
                        {% if sortable %}<td class="thin"><a class="move icon" title="{{ 'Reorder'|t('app') }}" role="button"></a></td>{% endif %}
                        <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <div id="count-spinner" class="spinner small hidden"></div>
    <div id="count-container" class="light">&nbsp;{{ schedules|length }} {{ 'Schedules'|t('schedule') }}</div>
    <div id="actions-container" class="flex hidden">
        <div>
            <form>
                <button type="button" class="btn secondary menubtn" aria-label="{{ "Set status"|t('app') }}">{{ "Set status"|t('app') }}</button>
                <div class="menu">
                    <ul>
                        <li><a class="schedules-set-status" data-param="status" data-value="enabled"><span class="status enabled"></span> {{ "Enabled"|t('app') }}</a></li>
                        <li><a class="schedules-set-status" data-param="status" data-value="disabled"><span class="status disabled"></span> {{ "Disabled"|t('app') }}</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div></div>
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#schedules',
        noItemsSelector: '#noschedules',
        sortable: true,
        reorderAction: 'schedule/schedules/reorder-schedules',
        deleteAction: 'schedule/schedules/delete-schedule',
        onDeleteItem: function() {
            if (adminTable.totalItems == 0) {
                $('#nav-schedule').remove();
            }
        }
    });
{% endjs %}
